<!doctype html>
<html lang="he" dir="rtl">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Lotto Snooker</title>
  <link rel="stylesheet" href="./static/style.css" />

</head>
<body>
  <header class="top">
    <h1>🎱 Lotto Snooker</h1>
    <p class="sub">בחירה אקראית ויזואלית </p>
  </header>

  <main class="wrap">
    <section class="panel">
      <label>
        זווית (0–359)
        <input id="angle" type="range" min="0" max="359" value="30" />
        <span id="angleVal">30</span>°
      </label>

      <label>
        עוצמה (0–100)
        <input id="power" type="range" min="0" max="100" value="60" />
        <span id="powerVal">60</span>
      </label>

      <div class="btnRow">
        <button id="playBtn">▶ מכה</button>
        <button id="resetBtn">🔄 איפוס</button>
      </div>


      <div class="serverBox">
        <div class="serverTitle">תגובה מהשרת:</div>
        <pre id="serverOut">{}</pre>
      </div>
    </section>

    <section class="stage">
      <canvas id="table" width="900" height="500"></canvas>
      <div class="hint"></div>
    </section>
  </main>

  <script src="/static/game.js"></script>
  <!-- Default Statcounter code for lotto snoker
https://lottosnooker-production.up.railway.app/ -->
<script type="text/javascript">
var sc_project=13195685; 
var sc_invisible=1; 
var sc_security="2286f672"; 
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js"
async></script>
<noscript><div class="statcounter"><a title="Web Analytics"
href="https://statcounter.com/" target="_blank"><img
class="statcounter"
src="https://c.statcounter.com/13195685/0/2286f672/1/"
alt="Web Analytics"
referrerPolicy="no-referrer-when-downgrade"></a></div></noscript>
<!-- End of Statcounter Code -->
</body>
</html>
